<h1><%= @question.content %></h1>

<h3>Respond to this question</h3>
<p>
<%= form_for [@question, @response] do |f| %>

	<%= f.label :name %>
	<%= f.text_field :responder %></br>
	
	<%= f.text_area :body %>
	
	<%= f.submit %>

<% end %>
</p>

<h3>List of Responses</h3>
<ul>
	 <% @responses.each do |response| %>
	<li>
		<%= response.body %></br>
		From <%= response.responder %>
	</li>
	<% end %>
</ul>