<h1><%= @poll.title %></h1>
<h3>By: <%= @poll.author %></h3>

<h3>List of Questions</h3>
<ul>
	 <% @questions.each do |question| %>
	<li>
		<%= question.content %>
	</li>
	<% end %>
</ul>

<p><%= link_to "Add new response", new_poll_response_path(@poll) %></p>
<h3>List of Responses</h3>
<ul>
	<% @responses.each do |response| %>
		<li>
			<%= link_to response.responder, response_path(response) %>
		</li>
	<% end %>
</ul>